<div class="row">
  <div class="small-12 medium-10 large-8">
    <p>
      <strong>Name:</strong>
      <%= @burger.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @burger.description %>
    </p>

    <p>
      <strong>Spicy:</strong>
      <%= @burger.spicy %>
    </p>

    <p>
      <strong>Price (single):</strong>
      £<%= number_with_precision(@burger.price_single, :precision => 2) %>
    </p>

    <p>
      <strong>Price (double):</strong>
      £<%= number_with_precision(@burger.price_double, :precision => 2) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-10 large-8">
    <%= link_to 'Edit', edit_burger_path(@burger), class: 'button radius success' %>
    <%= link_to 'Back', burgers_path, class: 'button radius info' %>
  </div>
</div>
