<div class="row">
  <div class="small-12 columns">
    <h1>Listing Orders</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Eater</th>
          <th>Order date</th>
          <th>Order price</th>
          <th>Paid</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.eater %></td>
            <td><%= order.order_date.to_formatted_s(:ddmy) %></td>
            <td>£<%= number_with_precision(order.order_price, :precision => 2) %></td>
            <td><%= order.paid %></td>
            <td><%= link_to 'Show', order, class: 'button radius tiny info' %></td>
            <td><%= link_to 'Edit', edit_order_path(order), class: 'button radius tiny success' %></td>
            <td><%= link_to 'Destroy', order, method: :delete, class: 'button radius tiny alert', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to 'New Order', new_order_path, class: 'button radius success' %>
  </div>
</div>
