<div class="row">
  <div class="small-12">
    <h1><%= @order.eater %>'s order</h1>
  </div>
</div>
<div class="row">
  <div class="small-12">

    <p>This order is for <%= @order.order_date.to_formatted_s(:ddmy) %>.</p>

    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.burgers.each do |burger| %>
          <tr>
            <td>
              <%= @order.size.capitalize %> <%= burger.name %>
              <% unless @order.comment.blank? %>
              (<%= @order.comment %>)
              <% end %>
            </td>
            <td>
              <% if @order.size == 'single' %>
                £<%= number_with_precision(burger.price_single, :precision => 2) %>
              <% elsif @order.size == 'double' %>
                £<%= number_with_precision(burger.price_double, :precision => 2) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% @order.fillings.each do |filling| %>
          <tr>
            <td>+ <%= filling.name %></td>
            <td>£<%= number_with_precision(filling.price, :precision => 2) %></td>
          </tr>
        <% end %>
        <% @order.sides.each do |side| %>
          <tr>
            <td><%= side.name %></td>
            <td>£<%= number_with_precision(side.price, :precision => 2) %></td>
          </tr>
        <% end %>
        <% @order.dips.each do |dip| %>
          <tr>
            <td><%= dip.name %> Dip</td>
            <td>£<%= number_with_precision(dip.price, :precision => 2) %></td>
          </tr>
        <% end %>
        <tr>
          <td><strong>Total</strong>
            <% if @order.paid? %>
              (all paid)
            <% else %>
              (unpaid)
            <% end %>
          </td>
          <td>
            <% if @order.order_price.nil? %>
              -
            <% else %>
              <strong>£<%= number_with_precision(@order.order_price, :precision => 2) %></strong>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-10 large-8">
    <%= link_to 'Edit', edit_order_path(@order), class: 'button radius success' %>
    <%= link_to 'Back', orders_path, class: 'button radius info' %>
  </div>
</div>