<div class="row">
  <div class="small-12 medium-10 large-8"><p>
    <strong>Eater:</strong>
      <%= @order.eater %>
    </p>

    <p>
      <strong>Order date:</strong>
      <%= @order.order_date.to_formatted_s(:ddmy) %>
    </p>

    <p>
      <strong>Order price:</strong>
      £<%= number_with_precision(@order.order_price, :precision => 2) %>
    </p>

    <p>
      <strong>Paid:</strong>
      <%= @order.paid %>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-10 large-8">
    <%= link_to 'Edit', edit_order_path(@order), class: 'button radius success' %>
    <%= link_to 'Back', orders_path, class: 'button radius info' %>
  </div>
</div>