<div class="row">
  <div class="small-12 medium-10 large-8">
    <p>
      <strong>Eater:</strong>
      <%= @order.eater %>
    </p>

    <p>
      <strong>Order date:</strong>
      <%= @order.order_date.to_formatted_s(:ddmy) %>
    </p>

    <p>
      <strong>Burger:</strong>
      <% unless @order.burgers.empty? %>
        <% @order.burgers.each do |burger| %>
          <%= burger.name %> – <%= @order.size %> – 
          <% if @order.size == 'single' %>
            £<%= number_with_precision(burger.price_single, :precision => 2) %>
          <% elsif @order.size == 'double' %>
            £<%= number_with_precision(burger.price_double, :precision => 2) %>
          <% end %>
        <% end %>
      <% else %>
        No burgers
      <% end %>
    </p>

    <p>
      <strong>Extra fillings:</strong>
      <% unless @order.fillings.empty? %>
        <ul>
          <% @order.fillings.each do |filling| %>
            <li><%= filling.name %> – £<%= number_with_precision(filling.price, :precision => 2) %></li>
          <% end %>
        </ul>
      <% else %>
        No extra fillings
      <% end %>
    </p>

    <p>
      <strong>Sides:</strong>
      <% unless @order.sides.empty? %>
        <ul>
          <% @order.sides.each do |side| %>
            <li><%= side.name %> – £<%= number_with_precision(side.price, :precision => 2) %></li>
          <% end %>
        </ul>
      <% else %>
        No sides
      <% end %>
    </p>

    <p>
      <strong>Order price:</strong>
      <% if @order.order_price.nil? %>
        -
      <% else %>
        £<%= number_with_precision(@order.order_price, :precision => 2) %>
      <% end %>
    </p>

    <p>
      <strong>Paid:</strong>
      <%= @order.paid %>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-10 large-8">
    <%= link_to 'Edit', edit_order_path(@order), class: 'button radius success' %>
    <%= link_to 'Back', orders_path, class: 'button radius info' %>
  </div>
</div>