<div class="row">
  <div class="small-12 medium-10 large-8">
    <p>
      <strong>Name:</strong>
      <%= @dip.name %>
    </p>

    <p>
      <strong>Spicy:</strong>
      <%= @dip.spicy %>
    </p>

    <p>
      <strong>Price:</strong>
      £<%= number_with_precision(@dip.price, :precision => 2) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-10 large-8">
    <%= link_to 'Edit', edit_dip_path(@dip), class: 'button radius success' %>
    <%= link_to 'Back', dips_path, class: 'button radius info' %>
  </div>
</div>
