<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dip.name %>
</p>

<p>
  <strong>Spicy:</strong>
  <%= @dip.spicy %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dip.price %>
</p>

<%= link_to 'Edit', edit_dip_path(@dip) %> |
<%= link_to 'Back', dips_path %>
