<%# add navigation links to this file %>
<li><%= link_to 'Orders', orders_path %></li>
<li><%= link_to 'Burgers', burgers_path %></li>
<li><%= link_to 'Extra fillings', fillings_path %></li>
<li><%= link_to 'Sides', sides_path %></li>
<li><%= link_to 'Dips', dips_path %></li>
<li><%= link_to 'Drinks', drinks_path %></li>
<li><%= link_to 'Users', users_path %></li>
<li><%= link_to 'Log out', logout_path %></li>